MoneyExtractorClient/Service References/MoneyExtractorServiceReference/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MoneyExtractorService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MoneyExtractorService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57815/Services/ClienteService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PaymentDataRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="PaidAmountInCents" type="xs:long" />
          <xs:element minOccurs="0" name="ProductAmountInCents" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentDataRequest" nillable="true" type="tns:PaymentDataRequest" />
  <xs:complexType name="AbstractRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AbstractRequest" nillable="true" type="tns:AbstractRequest" />
  <xs:complexType name="PaymentDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalAmountInCents" type="xs:long" />
          <xs:element minOccurs="0" name="changeData" nillable="true" type="tns:ChangeData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentDataResponse" nillable="true" type="tns:PaymentDataResponse" />
  <xs:complexType name="AbstractResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstractResponse" nillable="true" type="tns:AbstractResponse" />
  <xs:complexType name="ChangeData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChangeTotalResult" nillable="true" type="q1:ArrayOfKeyValueOfChangeTypeArrayOfKeyValueOflonglongnRdeRv7S" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeData" nillable="true" type="tns:ChangeData" />
  <xs:simpleType name="ChangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Bill" />
      <xs:enumeration value="Coin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeType" nillable="true" type="tns:ChangeType" />
</xs:schema>