MoneyExtractorClient/Service References/MoneyExtractorServiceReference/ClienteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57815/Services/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MoneyExtractorService.Entities" />
  <xs:complexType name="ArrayOfKeyValueOfChangeTypeArrayOfKeyValueOflonglongnRdeRv7S">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfChangeTypeArrayOfKeyValueOflonglongnRdeRv7S">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MoneyExtractorService.Entities" name="Key" type="q1:ChangeType" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOflonglong" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfChangeTypeArrayOfKeyValueOflonglongnRdeRv7S" nillable="true" type="tns:ArrayOfKeyValueOfChangeTypeArrayOfKeyValueOflonglongnRdeRv7S" />
  <xs:complexType name="ArrayOfKeyValueOflonglong">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOflonglong">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:long" />
            <xs:element name="Value" type="xs:long" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOflonglong" nillable="true" type="tns:ArrayOfKeyValueOflonglong" />
</xs:schema>